<%- include("../includes/header.ejs", {title:"Profit "}); %>
<nav>

    <br />
    <li><a href="/atype/all">Animals - User accounts associated with this site</a></li>
    <br />
    <li><a href="/feed/all">Feed - Unique skills users may have </a></li>
    <br />
    <li><a href="/field/all">Field - List of known addresses</a></li>
    <br />
    <li><a href="/product/productViewAll">Product - Resumes that have been submitted</a></li>
    <br />
    <li><a href="/profit/profitViewAll">Profit - Resumes that have been submitted</a></li>
</nav>

<article>

<h1>Profit for total greater than zero</h1>
<ul>
    <table border="1">
        <tr><th>Animal Name</th><th>Gain</th><th>Cost</th><th>Total</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><%= result[i].animal_name %></td>
            <td><%= result[i].gain %></td>
            <td><%= result[i].cost %></td>
            <td><%= result[i].total %></td>
        </tr>
        <% } %>
    </table>
</ul>

<a href="/profit/profitViewAll"><< back</a>

</article>
<%- include("../includes/footer.ejs"); %>