<%- include("../includes/header.ejs", {title:"Products - View All"}); %>

<nav>

    <br />
    <li><a href="/">Home</a></li>
    <br />
    <li><a href="/atype/all">Animals - The Animals you currently have stored here</a></li>
    <br />
    <li><a href="/feed/all">Feed - The various feeds you use </a></li>
    <br />
    <li><a href="/field/all">Field - Where your animals are located</a></li>
    <br />
    <li><a href="/product/productViewAll">Product - Track product sales for your animals</a></li>
    <br />
    <li><a href="/profit/profitViewAll">Profit - Check your profits as of currently</a></li>
</nav>

<article>
<h1>Profits</h1>

    <a href="/profit/having">Animals That Made Money</a> <br />

        <br />
    <h1>Select Animal</h1>
    <form action="/profit/" method="get">
        <select id="animal_name" name="animal_name">
            <% for(var i=0; profit.length > i; i++ ) {
                var selected = "";

                if(profit[i].animal_name != null) {
                    selected = "selected";
                }
            %>
            <option value="<%= profit[i].animal_name %>" <%= selected %> ><%= profit[i].animal_name%></option>
            <% } %>

        </select>

        <input type="submit" />
    </form>
    <br />

</article>
<%- include("../includes/footer.ejs"); %>