<html>
<head>
    <style>
        div.container {
            width: 100%;

        }

        header, footer {
            padding: 1em;
            border-radius: 30px;
            color: black;
            background-color: teal;
            clear: left;
            text-align: center;
        }

        button{
            border-radius: 20px;
            color: yellow;
            background-color: darkgrey;
        }

        button:hover{
            background-color: aquamarine;
            color: aliceblue;
        }

        form{
            color: darkred;
        }

        form:hover{
            color: black;
        }

        nav {
            float: left;
            max-width: 400px;
            margin: 0;
            padding: 1em;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul a {
            text-decoration: none;
        }

        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
</body>

<footer class = "footer" >
    Copyright &copy; JimmieHagle
</footer>

</html>