<%- include("../includes/header.ejs", {title:"Add New Field"}); %>
    <h1>Add New Field</h1>
    <form action="/field/insert" method="get">

        Location: <input id="location" name="location" type="text" />
        <br />
        Field Type: <input id="field_type" name="field_type" type="text" />
        <br />



        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>