<%- include("../includes/header.ejs", {title:"Edit Field"}); %>
    <h1>Edit Field</h1>
    <form action="/field/update" method="get">

        <input type="hidden" id="location" name="location" value="<%= field.location %>">
        <br />
        Field Type: <input id="field_type" name="field_type" value="<%= field.field_type %>" />
        <br />



        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>