<%- include("../includes/header.ejs", {title:"Add Animal to Field - " + field}); %>
    <h1>Add New Field</h1>
    <form action="/field/insertAnimal" method="get">

        <input type="hidden" id="location" name="location" value="<%= field %>">
        <br />
        <input type="hidden" id="field_type" name="field_type" value="<%= animal_name[0][0].field_type%>" />
        <br />
        Available Animals:
        <select id="animal_name" name="animal_name" >
            <% for(var i=0; animal_name[1].length > i; i++ ) { %>
            <option value="<%= animal_name[1][i].animal_name %>"><%= animal_name[1][i].animal_name %></option>
            <% } %>
        </select>



        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>