<%- include("../includes/header.ejs", {title:"Field - " + result[0].location}); %>
<nav>
    <br />
    <li><a href="/">Home</a></li>
    <br />
    <li><a href="/atype/all">Animals - The Animals you currently have stored here</a></li>
    <br />
    <li><a href="/feed/all">Feed - The various feeds you use </a></li>
    <br />
    <li><a href="/field/all">Field - Where your animals are located</a></li>
    <br />
    <li><a href="/product/productViewAll">Product - Track product sales for your animals</a></li>
    <br />
    <li><a href="/profit/profitViewAll">Profit - Check your profits as of currently</a></li>
</nav>

<article>

<h1>Field</h1>
<ul>
    <li>Location: <%= result[0].location %> </li>
    <li>Field Type: <%= result[0].field_type%></li>
    <a href="/field/addAnimal/?location=<%= result[0].location %>">Add Animal to Field</a> <br />
    <table border="1">
        <h2>Animals Located Here: </h2>
        <tr><th>Name</th><th>Actions</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><%= result[i].animal_name %></td>
            <td>
                <form action="/field/deleteAnimal/" style="display:inline;">
                    <input type="hidden" name="animal_name" id="animal_name" value="<%= result[i].animal_name %>" />
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>
        <% } %>
    </table>
</ul>

<a href="/field/all"><< back</a>

</article>
<%- include("../includes/footer.ejs"); %>