<%- include("../includes/header.ejs", {title:"Fields - View All"}); %>

<nav>
    <br />
    <li><a href="/">Home</a></li>
    <br />
    <li><a href="/atype/all">Animals - The Animals you currently have stored here</a></li>
    <br />
    <li><a href="/feed/all">Feed - The various feeds you use </a></li>
    <br />
    <li><a href="/field/all">Field - Where your animals are located</a></li>
    <br />
    <li><a href="/product/productViewAll">Product - Track product sales for your animals</a></li>
    <br />
    <li><a href="/profit/profitViewAll">Profit - Check your profits as of currently</a></li>
</nav>

<article>
<h1>Field</h1>
        <a href="/field/add">Add New Field</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/field/?location=<%= result[i].location %>"><%= result[i].location %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/field/edit/?location=<%= result[i].location %>'">Edit</button>
                    <form action="/field/delete/" style="display:inline;">
                        <input type="hidden" name="location" id="location" value="<%= result[i].location %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
</article>
<%- include("../includes/footer.ejs"); %>