<%- include("./includes/header.ejs", {title: title}); %>
<html>
<head>
</head>
<body>

<div class="container">
    <nav>
        <p>Welcome to <%= title %></p>

        <br />
        <li><a href="/">Home</a></li>
        <br />
        <li><a href="/atype/all">Animals - The Animals you currently have stored here</a></li>
        <br />
        <li><a href="/feed/all">Feed - The various feeds you use </a></li>
        <br />
        <li><a href="/field/all">Field - Where your animals are located</a></li>
        <br />
        <li><a href="/product/productViewAll">Product - Track product sales for your animals</a></li>
        <br />
        <li><a href="/profit/profitViewAll">Profit - Check your profits as of currently</a></li>

        <br />
    </nav>

        <article>
            <header>About:</header>
            <text>
                The primary goal of this database is keep track of info on livestock. Assuming the user operates a
                farm with multiple animals that are on certain feed regiments and produce different products for sale.
                These animals can also be located in various locations for housing.

                <br />
                <br />
                The farm contains can contain multiple types of animals that each can be made up of multiple animals.
                These animals can be made up of different breeds and are used for different purposes whether it be for
                profits or personal use. Animals can be on different feed regiments that typically cost different
                amounts and being able to monitor what feed produces higher quality products helps the farm make
                decisions on animal care. Locations on which these animals are located allow for farm hands to monitor
                their animals. Animals may also produce multiple products. The profits table should list animal that
                the product came from and what that particular product was along with the cost that animal has
                accumulated during this time. Different animal types may produce greater profits and being able to
                track what animal type is producing the best for the farm will help make key decisions for the farm.

                <br />
                <br />
                Key aspects of the farm can summarized by: Animals: that produce a product based on the feed regiment
                they are on. Locations: where to find each animal. Animal Types: to categorize each animal into their
                individual groups. Feed Regiments: is used to help base the cost of upkeep on each animal.

            </text>

            <br />
            <br />

            <h>ER Diagram:
                <a href=Images/ERD.png> My ER Diagram</a>
            </h>

            <h>Relational Schema:
            <a href=Images/Relational.png> My Relational Schema </a>
            </h>

            <h>Functional Dependency Diagram:
                <a href=Images/FDD.png> My Functional Dependency Diagram </a>
            </h>

        </article>
</div>

</body>
</html>
<%- include("./includes/footer.ejs"); %>
