<%- include("../includes/header.ejs", {title:"Add a Product - "}); %>
    <h1>Add New Product</h1>
    <form action="/product/insert" method="get">

        Available Animals:
        <select id="animal_name" name="animal_name" >
            <% for(var i=0; product_name.length > i; i++ ) { %>
            <option value="<%= product_name[i].animal_name %>"><%= product_name[i].animal_name %></option>
            <% } %>
        </select>

        <br />
        Product Name: <input id="product_name" name="product_name" type="text" />
        <br />
        Price: <input id="price" name="price" type="text" />



        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>