<%- include("../includes/header.ejs", {title:"Products - View All"}); %>

<nav>

    <br />
    <li><a href="/">Home</a></li>
    <br />
    <li><a href="/atype/all">Animals - The Animals you currently have stored here</a></li>
    <br />
    <li><a href="/feed/all">Feed - The various feeds you use </a></li>
    <br />
    <li><a href="/field/all">Field - Where your animals are located</a></li>
    <br />
    <li><a href="/product/productViewAll">Product - Track product sales for your animals</a></li>
    <br />
    <li><a href="/profit/profitViewAll">Profit - Check your profits as of currently</a></li>
</nav>

<article>
<h1>Product</h1>
        <a href="/product/add">Add New Product</a> <br />

        <br />
    <h1>Select Animal</h1>
    <form action="/product/" method="get">
        <select id="animal_name" name="animal_name">
            <% for(var i=0; product.length > i; i++ ) {
                var selected = "";

                if(product[i].animal_name != null) {
                    selected = "selected";
                }
            %>
            <option value="<%= product[i].animal_name %>" <%= selected %> ><%= product[i].animal_name%></option>
            <% } %>

        </select>

        <input type="submit" />
    </form>
    <br />

</article>
<%- include("../includes/footer.ejs"); %>