<%- include("../includes/header.ejs", {title:"Product - " + result[0].animal_name}); %>
<nav>

    <br />
    <li><a href="/">Home</a></li>
    <br />
    <li><a href="/atype/all">Animals - The Animals you currently have stored here</a></li>
    <br />
    <li><a href="/feed/all">Feed - The various feeds you use </a></li>
    <br />
    <li><a href="/field/all">Field - Where your animals are located</a></li>
    <br />
    <li><a href="/product/productViewAll">Product - Track product sales for your animals</a></li>
    <br />
    <li><a href="/profit/profitViewAll">Profit - Check your profits as of currently</a></li>
</nav>

<article>

<h1>Product for: <%=result[0].animal_name%></h1>
<ul>
    <table border="1">
        <tr><th>Animal Name</th><th>Product</th><th>Price</th><th>Actions</th></tr>
        <% for(var i=0; result.length > i; i++ ) { %>
        <tr>
            <td><%= result[i].animal_name %></td>
            <td><%= result[i].product_name %></td>
            <td><%= result[i].price %></td>
            <td>
                <form action="/product/delete/" style="display:inline;">
                    <input type="hidden" name="product_name" id="product_name" value="<%= result[i].product_name %>" />
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>
        <% } %>
    </table>
</ul>

<a href="/product/productViewAll"><< back</a>

</article>
<%- include("../includes/footer.ejs"); %>