<%- include("../includes/header.ejs", {title:"Animals "}); %>
<nav>

    <br />
    <li><a href="/">Home</a></li>
    <br />
    <li><a href="/atype/all">Animals - The Animals you currently have stored here</a></li>
    <br />
    <li><a href="/feed/all">Feed - The various feeds you use </a></li>
    <br />
    <li><a href="/field/all">Field - Where your animals are located</a></li>
    <br />
    <li><a href="/product/productViewAll">Product - Track product sales for your animals</a></li>
    <br />
    <li><a href="/profit/profitViewAll">Profit - Check your profits as of currently</a></li>
</nav>

<article>
    <h1>Animals</h1>
    <a href="/atype/AnimalAdd/?animal_type_name=<%= type %>"> Add New Animal</a> <br />
    <table border="1">
        <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/atype/animal/?animal_name=<%= result[i].animal_name %>"><%= result[i].animal_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/atype/edit/?animal_name=<%= result[i].animal_name %>'">Edit</button>
                    <form action="/atype/deleteAnimal/" style="display:inline;">
                        <input type="hidden" name="animal_name" id="animal_name" value="<%= result[i].animal_name %>" />
                        <input type="submit" value="Delete"/>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>

    <a href="/atype/all"><< back</a>
</article>


<%- include("../includes/footer.ejs"); %>