<%- include("../includes/header.ejs", {title:"Animal - " + result[0].animal_name}); %>
<nav>

    <br />
    <li><a href="/">Home</a></li>
    <br />
    <li><a href="/atype/all">Animals - The Animals you currently have stored here</a></li>
    <br />
    <li><a href="/feed/all">Feed - The various feeds you use </a></li>
    <br />
    <li><a href="/field/all">Field - Where your animals are located</a></li>
    <br />
    <li><a href="/product/productViewAll">Product - Track product sales for your animals</a></li>
    <br />
    <li><a href="/profit/profitViewAll">Profit - Check your profits as of currently</a></li>
</nav>

<article>

<h1>Animal</h1>
<ul>
    <li>Animal Name: <%= result[0].animal_name %> </li>
    <li>Breed: <%= result[0].breed%></li>
    <li>Gender: <%= result[0].gender %> </li>
    <li>Number of Children: <%= result[0].Nchildren%></li>
    <li>Cost: <%= result[0].cost %> </li>
    <li>Feed Regiment: <%= result[0].feed_regiment%></li>
</ul>

<a href="/atype/all"><< back</a>

</article>
<%- include("../includes/footer.ejs"); %>