<%- include("../includes/header.ejs", {title:"Add New Animal_Type - " + type}); %>
    <h1>Add New Animal</h1>
    <form action="/atype/insertAnimal/?animal_type_name=<%= type %>" method="get">

        <input id="animal_type_name" name="animal_type_name" hidden value=<%=type%> />

        Animal Name: <input id="animal_name" name="animal_name" type="text" />
        <br />
        Breed: <input id="breed" name="breed" type="text" />
        <br />
        Gender: <input id="gender" name="gender" type="text" />
        <br />
        Number of Children: <input id="Nchildren" name="Nchildren" type="text" />
        <br />
        Cost: <input id="cost" name="cost" type="text" />
        <br />
        Feed Regiment: <input id="feed_regiment" name="feed_regiment" type="text" />
        <br />


        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>