<%- include("../includes/header.ejs", {title: "Update " + Animal.animal_name}); %>

<h1>Update <%= Animal.animal_name%></h1>
<form action="/atype/update" method="get">
    <input type="hidden" id="animal_name" name="animal_name" value="<%= Animal.animal_name %>">
    <br />
    Breed: <input id="breed" name="breed" value="<%= Animal.breed %>" />
    <br />
    Gender: <input id="gender" name="gender" value="<%= Animal.gender %>" />
    <br />
    Number of Children: <input id="Nchildren" name="Nchildren" value="<%= Animal.Nchildren %>" />
    <br />
    Cost: <input id="cost" name="cost" value="<%= Animal.cost %>" />
    <br />
    Feed Regiment: <input id="feed_regiment" name="feed_regiment" value="<%= Animal.feed_regiment %>" />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>