<%- include("../includes/header.ejs", {title:"Add New Animal_Type"}); %>
    <h1>Add New Animal Type</h1>
    <form action="/atype/insert" method="get">
        Animal Type: <input id="animal_type_name" name="animal_type_name" type="text" />
        <br />


        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>