<%- include("../includes/header.ejs", {title:"Animal_Types - View All"}); %>

<nav>

    <br />
    <li><a href="/">Home</a></li>
    <br />
    <li><a href="/atype/all">Animals - The Animals you currently have stored here</a></li>
    <br />
    <li><a href="/feed/all">Feed - The various feeds you use </a></li>
    <br />
    <li><a href="/field/all">Field - Where your animals are located</a></li>
    <br />
    <li><a href="/product/productViewAll">Product - Track product sales for your animals</a></li>
    <br />
    <li><a href="/profit/profitViewAll">Profit - Check your profits as of currently</a></li>
</nav>

<article>
<h1>Animal Types</h1>
        <a href="/atype/add">Add New Animal Type</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/atype/?animal_type_name=<%= result[i].animal_type_name %>"><%= result[i].animal_type_name %></a></td>
                <td>
                    <form action="/atype/delete/" style="display:inline;">
                        <input type="hidden" name="animal_type_name" id="animal_type_name" value="<%= result[i].animal_type_name %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
</article>
<%- include("../includes/footer.ejs"); %>