<%- include("../includes/header.ejs", {title:"Update Feed "}); %>
    <h1>Update Feed</h1>
    <form action="/feed/update" method="get">

        <input id="feed_regiment" name="feed_regiment" hidden value="<%= feed.feed_regiment%>"/>

        Feed Name: <input id="feed_name" name="feed_name" value="<%= feed.feed_name %>" />
        <br />
        Bag Size (per lb): <input id="bag_size_lb" name="bag_size_lb" value="<%= feed.bag_size_lb %>" />
        <br />
        Cost: <input id="cost" name="cost" value="<%= feed.cost %>" />



        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>