<%- include("../includes/header.ejs", {title:"Feed - " + result[0].feed_name}); %>
<nav>

    <br />
    <li><a href="/">Home</a></li>
    <br />
    <li><a href="/atype/all">Animals - The Animals you currently have stored here</a></li>
    <br />
    <li><a href="/feed/all">Feed - The various feeds you use </a></li>
    <br />
    <li><a href="/field/all">Field - Where your animals are located</a></li>
    <br />
    <li><a href="/product/productViewAll">Product - Track product sales for your animals</a></li>
    <br />
    <li><a href="/profit/profitViewAll">Profit - Check your profits as of currently</a></li>
</nav>

<article>

<h1>Feed</h1>
<ul>
    <li>Feed Name: <%= result[0].feed_name %> </li>
    <li>Bag Size (per lb): <%= result[0].bag_size_lb%></li>
    <li>Cost: <%= result[0].cost %> </li>
</ul>

<a href="/feed/all"><< back</a>

</article>
<%- include("../includes/footer.ejs"); %>