<%- include("../includes/header.ejs", {title:"Feed Types - View All"}); %>

<nav>

    <br />
    <li><a href="/">Home</a></li>
    <br />
    <li><a href="/atype/all">Animals - The Animals you currently have stored here</a></li>
    <br />
    <li><a href="/feed/all">Feed - The various feeds you use </a></li>
    <br />
    <li><a href="/field/all">Field - Where your animals are located</a></li>
    <br />
    <li><a href="/product/productViewAll">Product - Track product sales for your animals</a></li>
    <br />
    <li><a href="/profit/profitViewAll">Profit - Check your profits as of currently</a></li>
</nav>

<article>
<h1>Feed</h1>
        <a href="/feed/add">Add New Feed</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/feed/?feed_name=<%= result[i].feed_name %>"><%= result[i].feed_name %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/feed/edit/?feed_name=<%= result[i].feed_name %>'">Edit</button>
                    <form action="/feed/delete/" style="display:inline;">
                        <input type="hidden" name="feed_name" id="feed_name" value="<%= result[i].feed_name %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
</article>
<%- include("../includes/footer.ejs"); %>