<%- include("../includes/header.ejs", {title:"Add New Feed "}); %>
    <h1>Add New Animal</h1>
    <form action="/feed/insert" method="get">

        Feed Regiment: <input id="feed_regiment" name="feed_regiment" type="text" />
        <br />

        Feed Name: <input id="feed_name" name="feed_name" type="text" />
        <br />
        Bag Size (per lb): <input id="bag_size_lb" name="bag_size_lb" type="text" />
        <br />
        Cost: <input id="cost" name="cost" type="text" />



        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>